.c-list {
  border: 1px solid $black;
  border-top: 0;
  display: block;
  height: 100%;
  position: relative;
  max-height: calc(100vh - 116px);
}

.c-list__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 196px);
  overflow-y: scroll;
  padding: 0;
}

.c-list__item {
  line-height: 0;
  margin-bottom: 20px;
}

.c-list__item-header,
.c-list__item-details {
  display: block;
  text-align: center; 
}

.c-list__item-title {
  font-size: $font-size-base;
}

@include screen-lg {
  .c-list__item {
    width: 20%;
  }
}